body {
    background-color: #f5f5f5;
}

/*Barra de navegação*/

header, .navbar {
    background-color: #f58013;
}

.navbar-brand {
    padding: 0;
}

.nav-item a {
    margin-right: 10px;
}

.nav-item a:hover {
    color: #ffff;
}

/*Carousel*/

.carousel-inner p {
    text-shadow: #1452f2 1px 3px 20px;
}

.carousel-inner h5 {
    text-shadow: #1452f2 1px 1px 20px;
}

#carrosel {
background-color: #6189ee;
}

/*Section quem somos*/

#quem-somos {
    background-color: #eca96b;
    padding-top: 20px;

}

#quem-somos h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;    
}

#quem-somos p {
    font-family: 'Poppins', sans-serif;
    text-indent: -10%;
    font-size: large;
    font-weight: bold;    
}

#quem-somos .about {
    margin: 30px 0;    
}

#logo-abenutri {
    margin: 20px 0 30px 0;
}


/*Section Nosso Time*/

#nosso-time {
    padding-top: 20px;
}

#nosso-time h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

#nosso-time h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 5px 0 2px 0;
}

#nosso-time p {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #f58013;
}

#time-imgs {
    padding-top: 20px;
}

#nosso-time img {
    border-radius: 50%;
}
