body {
    background-color: #ffff;
}

/*Barra de navegação*/

header, .navbar {
    background-color: #eca96b;
}

.navbar-brand {
    padding: 0;
}

.nav-item a {
    margin-right: 10px;
}

.nav-item a:hover {
    color: #ffff;
}

/*Carousel*/

.carousel-inner p {
    text-shadow: #0000 1px 3px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #f58013;
    background-color: #ffff;
}

.carousel-inner h5 {
    text-shadow: #1452f2 1px 1px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;    
}

#carrosel {
background-color: #a2aecc;
}

/*Section quem somos*/

#quem-somos {
    background-color: #eca96b;
    padding-top: 20px;

}

#quem-somos h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;    
}

#quem-somos p {
    font-family: 'Poppins', sans-serif;
    text-indent: -10%;
    font-size: large;
    font-weight: bold;    
}

#quem-somos .about {
    margin: 30px 0;    
}

#logo-abenutri {
    margin: 20px 0 30px 0;
}


/*Section Nosso Time*/

#nosso-time {
    padding-top: 20px;
    margin-bottom: 30px;
}

#nosso-time h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

#nosso-time h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 5px 0 2px 0;
}

#nosso-time p {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #f58013;
}

#time-imgs {
    padding-top: 20px;
}

#nosso-time img {
    border-radius: 50%;
}


/*Section Nossos Produtos*/

#nossos-produtos {
    background-color: #a2aecc;
}

#nossos-produtos h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    margin-bottom: 20px;
}

#produtos {
    padding: 20px 0;
}

#produtos-2 {
    padding: 20px 0;
}

#nossos-produtos img {
    height: 275px;
    width: 275px;
}

#nossos-produtos h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
    text-align: center;
}

#nossos-produtos h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}

#nossos-produtos p {
    color: #1452f2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.btn {
    background-color: #f58013;
}

.btn:hover {
    background-color: #f58013;
}

.card-body a:hover {
    color: #ffff;
}